.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color:whitesmoke;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
    height: 65px;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
    cursor: pointer;
    align-content: center;
}
.nav-items > ul > li{
    padding: 8px 15px 5px 10px ;
    font-size:20px;
}
.logo{
    width: 60px;
}
/* Body CSS */

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    width: 200px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.card > img{
    width: 100%;
}

.card > span{
    display: flex;
}

.card > span > h4{
    padding-left: 5px;
}

.card > span > h4:first-child{
    display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
}

.card > span > h4:first-child .fa-star{
    font-size: small;
    padding: 0 5px 3px 0;

}

/* footer CSS */
.footer{
    display: flex;
    justify-content: center;
    background-color:gainsboro;
    padding: 20px 0 20px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
}

.footer > i{
    padding: 0 5px 0;
}

.search-area{
    
    display:flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.search-input{
    width: 20rem;
    box-sizing: border-box;  
    padding: 4px;
    line-height: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.search-button{
    box-sizing: border-box;  
    padding: 4px;
    margin-left: 6px;
    background: #424242;
    border-radius: 0;
    color: #fff;
    width: 4rem;
}
.search-button:hover {
    background: #1c1c1c;
    color: #fff;
  }
.log-btn{
    box-sizing: border-box;  
    padding: 4px;
    margin-left: 6px;
    background: #424242;
    border-radius: 5px;
    color: #fff;
    width: 4rem;
    height: 3rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}  
.log-btn:hover {
    background: #1c1c1c;
    color: #fff;
  }