* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: start;
    color: #1c1c1c;
  }

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
    height: 65px;
}

.nav-items>ul {
    list-style-type: none;
    display: flex;
    cursor: pointer;
    align-content: center;
}

.nav-items>ul>li {
    padding: 8px 15px 5px 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 0.8rem;
}

.logo {
    width: 60px;
}

/* Body CSS */

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: auto;
}

.card {
    width:200px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.card>img {
    width: 100%;
}

.card>span {
    display: flex;
}

.card>span>h4 {
    padding-left: 5px;
}

.card>span>h4:first-child {
    display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
}

.card>span>h4:first-child .fa-star {
    font-size: small;
    padding: 0 5px 3px 0;

}

/* footer CSS */
.footer {
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    padding: 20px 0 20px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
}

.footer>i {
    padding: 0 5px 0;
}
.creator{
    color: blue;
}

.search-area {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
}

.search-input {
    width: 30%;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 10px 15px 10px 15px;
  border: 1px solid #aabcca;
  border-right: 0;
  color: #000000; 
  outline: none;
}

.search-button {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #424242;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #ffffff;
    padding: 10px 15px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
}

.search-button:hover {
    background: #1c1c1c;
    color: #fff;
}

.log-btn {
    box-sizing: border-box;
    padding: 4px;
    margin-left: 0.6rem;
    background: #424242;
    border-radius: 5px;
    color: #fff;
    width: 4rem;
    height: 3rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    text-align: center;
}

.log-btn:hover {
    background: #1c1c1c;
    color: #fff;
}

.shimmer-box {
    margin: 20px;
    width: 200px;
    height: 300px;
    background-color: lightgray;
}
.menu{
    display: flex;
}

.add-item-btn{
    background-color: #323131;
    color: #fff;
    text-size-adjust: 1.5px;
    border-radius: 3px;
    width: 70px;
    text-align: center;
    height: 1rem;
}
.add-item-btn:hover{
    background-color: #1c1c1c;
}
.cart-items{
    display: flex;
    flex-wrap: wrap;
}

.cart-card {
    width:200px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: inherit;
}
.clear-cart-btn{
    background-color: #323131;
    color: #fff;
    text-size-adjust: 1.5px;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    height: 3rem;
}
.clear-cart-btn:hover{
    background-color: #1c1c1c;
}
.cart-cont{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}